<footer class="footer">
    <p>
        Copy Right &copy; 2025 Developed by <a href="https://infoviaan.com/" target="_blank">Infoviaan</a>
    </p>
</footer>
<script src="../resources/my bootstrap/bootstrap.bundle.js"></script>
<script src="../resources/my script/myscript.js"></script>